# =========================
# Python cache / compiled
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual environment
# =========================
venv/
.venv/
.env
.env.*

# =========================
# OS / Editor junk
# =========================
.DS_Store
Thumbs.db

# VS Code
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# Test / temp files
# =========================
test.py
*.db
